@import '../../../design-system/colours.scss';
#hamburger {
	cursor: pointer;
	display: none;

	@media screen and (max-width: 767px) {
		display: flex;
		justify-self: flex-end;
	}

	@media screen and (prefers-color-scheme: dark) {
		g#hamburger-layers {
			stroke: $light;
		}
	}
}
