
// For the code component - has to be embedded here otherwise the CSS override does not get inherited 
code {
    .hljs-comment,
				.hljs-attr {
					color: gold;
				}

				.hljs-keyword {
					color: #9BE1FF;
				}

				.hljs-string {
					color: #C3E091;
				}

				.hljs-built_in {
					color: #7D9ADD;
				}

				.hljs-function {
					color: lightcoral;
				}
}