@use 'buttons.scss';
@use 'colours.scss';
@use 'form-fields.scss';
@use 'spacing.scss';
@use 'grid.scss';
@use 'typography.scss';
@use 'inbox.scss';

body {
	-webkit-font-smoothing: antialiased;
	font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Cantarell, 'Open Sans', sans-serif;
	background: colours.$light;
	color: colours.$dark;

	@media screen and (prefers-color-scheme: dark) {
		background: colours.$dark;
		color: colours.$light;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}