// Used to define space and sizing elements
$grid-base: 8px;

$spacer-one: 1 * $grid-base;
$spacer-two: 2 * $grid-base;
$spacer-three: 3 * $grid-base;
$spacer-four: 4 * $grid-base;
$spacer-five: 5 * $grid-base;
