@use '../design-system/colours.scss';

.colour-key {
    width: 96px;
    height: 96px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white; 
    font-weight: bold;
    text-align: center;

    &.primary {
        background: colours.$primary-colour;
    }

    &.secondary {
        background: colours.$secondary-colour;
    }

    &.tertiary {
        background: colours.$tertiary-colour;
    }

    &.green-two {
        background: colours.$green-two-colour;
    }

    &.green-one {
        background: colours.$green-one-colour;
    }

    &.blue-two {
        background: colours.$blue-two-colour;
    }

    &.blue-one {
        background: colours.$blue-one-colour;
    }


}