#home-page {
	margin-top: 40px;
}

#nav-bar .container .withSidePadding a:first-of-type {
	text-decoration: none;
	color: black;

	@media screen and (prefers-color-scheme: dark) {
		color: white;
	}
}

.made-in-location {
	display: flex;
	align-items: center;

	a {
		border-bottom: none;
	}

	@media screen and (max-width: 767px) {
		padding-top: 10px;
	}
}