#home-page {
	margin-top: 40px;
}

#nav-bar .container .withSidePadding a:first-of-type {
	text-decoration: none;
	color: black;

	@media screen and (prefers-color-scheme: dark) {
		color: white;
	}
}